ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #C0C0C0;
    background-color: white;
    position: top;
}
li a {
    display: block;
    width: 100px;
    color: grey;
    text-align: bottom;
    padding: 14px 16px;
    text-decoration: none;
}
li
{
    float: right;
}
#navbar
{
    width: 100%;
    margin: 0 auto;
    position: top;
}
.name
{
    background-color: rgb(6, 145, 180);
    margin-left: 200px;
    font-size: 18px;
    font-style: bold;
    color: white;
}
#body
{
    background-color:lightgrey;
    padding-top: 20px;
}



